# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://username:password@localhost:5432/ecom_dev?schema=public"
APP_NAME='Duoc Ecom'
PAYMENT_API_KEY=your_payment_api_key_here
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=1d
ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here

ADMIN_NAME="Admin"
ADMIN_PASSWORD=your_admin_password_here
ADMIN_EMAIL=admin@example.com
ADMIN_PHONE_NUMBER=0909090909

OTP_EXPIRES_IN=5m
RESEND_API_KEY=your_resend_api_key_here

GOOGLE_CLIENT_ID=your_google_client_id_here.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
# Cái này là khai báo bên Google
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback

# Cái này không cần khai báo bên Google, tự lấy url từ client
GOOGLE_CLIENT_REDIRECT_URI=http://localhost:3300/oauth-google-callback

PREFIX_STATIC_ENPOINT=http://localhost:3000/media/static

S3_BUCKET_NAME=your_bucket_name
S3_REGION=your_region
S3_ACCESS_KEY=your_s3_access_key_here
S3_SECRET_KEY=your_s3_secret_key_here
S3_ENPOINT=https://your-s3-endpoint.com

# Redis localhost
REDIS_URL=redis://localhost:6379